
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Music Streaming Service Switcher</h2>
        <p>
            An application to make switching between music streaming providers painless
        </p>
        <h3>
            Terminology
        </h3>
        <ul>
            <li>Music Streaming Provider (MSP): A service you can subscribe to for streaming music e.g. Spotify, Tidal, Apple Music</li>
            <li>Music Streaming Service (MSS) = MSP</li>
            <li>MSP data: The music catalog and meta data provided by an MSP (e.g. albums, artists, tracks, playlists, editorial content)</li>
            <li>User data (your data): A user's (your) playlists and favorites/following in an MSP</li>
        </ul>
        <h3>Goals</h3>
        <ul>
            <li>Browse/Get an overview of your data in one or more MSPs</li>
            <li>Update/manage your data in one or more MSPs</li>
            <li>Backup/export your data from an MSP</li>
            <li>Move/migrate your data (playlists, favorites) from one MSP to another</li>
            <li>Keep your data synced between MSPs</li>
            <li>Compare what music is available in different MSPs</li>
            <li>See what music is available compared to digital music stores (e.g. iTunes Music, Amazon, Google Play)</li>
            <li>Compare how MSPs structure their data compared to one another and to meta data providers such as MusicBrainz, The Echno Nest</li>
            <li>Link data from MSPs to other music services such as AllMusic/Rovi, Discogs, Last.fm, SoundCloud, BandCamp, WhoSampled, Genius, Wikipedia and basically everything from https://www.acrcloud.com/blog/music-apis-the-list-of-2016</li>
        </ul>
        <p>Source code: <a href="https://github.com/HenningKlokkeraasen/Clockwork.StreamingSwitcher">github.com/HenningKlokkeraasen/Clockwork.StreamingSwitcher</a></p>
    </div>
</div>