# User-specific files
*.user

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# ReSharper
*.DotSettings.user

# NuGet Packages
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Clockwork.StreamingSwitcher
Clockwork.StreamingSwitcher.Web/wwwroot/lib/*
